<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.suim.member.model.vo.Member" alias="member" />
		<typeAlias type="com.suim.board.model.vo.Board" alias="board" />
		<typeAlias type="com.suim.board.model.vo.Battachment" alias="battachment" />
	</typeAliases>
	    
	    
	    <mappers>
	    	<mapper resource="/mappers/member/member-mapper.xml"/>
	    	<mapper resource="/mappers/board/board-mapper.xml"/>
	    </mappers>
	    
</configuration>